<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="ConnectionString"  value="Server=%TEST_DATABASE_SERVER%;Database=%TEST_DATABASE_NAME%;User ID=%TEST_DATABASE_USER%;Password=%TEST_DATABASE_PASSWORD%;" />
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="{ConnectionString}" providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>